* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    background-color: aliceblue;
}


header {
    width: 100%;
    height: 150px;
    background-color: palegoldenrod;
    border-radius: 0px 0px 20px 20px;
}

#go-start-game {
    display: flex;
    justify-content: center;
}

#start-games {
    height: 50px;
    display: flex;
    align-items: end;
}

#thief {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#blocks {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#first-block {
    border-radius: 15px;
    width: 90%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#ქურდები {
    height: 50px;
    display: flex;
    align-items: center;
    width: 220px;
    justify-content: end;
}

#first-zero {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    font-size: 20px;
    font-family: arial;
}

#second-zero {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    font-size: 20px;
    font-family: arial;
}

#კაი-ბიჭები {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: end;
}

footer {
    height: 250px;
    align-items: end;
    display: flex;
    justify-content: center;
}

#between-button {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#now-kaibichebi {
    width: 80%;
    height: 50px;
    background-color: rgb(255, 183, 0);
    border: 2px solid rgb(255, 183, 0);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}


#start-game {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 183, 0);
    border: 2px solid rgb(255, 183, 0);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    }
    
    #start-game:hover {
        opacity: 0.80;
        cursor: pointer;
    }
    
    #start-game:active {
        opacity: 0.70;
    }



#start-game-a {
    width: 90%;
    height: 50px;
    background-color: rgb(255, 183, 0);
    border: 2px solid rgb(255, 183, 0);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    }